DEBUG=True
SECRET_KEY=django-insecure-dineflow-enterprise-luxury-restaurant-erp-key-2026
ALLOWED_HOSTS=localhost,127.0.0.1
DEFAULT_CURRENCY=INR
TIME_ZONE=Asia/Kolkata
LANGUAGE_CODE=en-us
USE_TZ=True
DEFAULT_AUTO_FIELD=django.db.models.BigAutoField
